In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
from sklearn.linear_model import LogisticRegression

In [5]:
from sklearn.metrics import accuracy_score

In [6]:
#loading datasets to pandas data frame
credit_card_data=pd.read_csv(r"C:\Users\Owner\Downloads\Fraud.csv")

In [7]:
credit_card_data.shape

(6362620, 11)

In [8]:
#first 5 rows of dataset
credit_card_data.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [9]:
credit_card_data.tail()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.0,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.0,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.0,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.0,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.0,C873221189,6510099.11,7360101.63,1,0

In [10]:
#datasetinformation()
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB

In [11]:
#checking no of missing values in each column
credit_card_data.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [12]:
#distribution of legit transaction and fraudulent transactions
credit_card_data['isFraud'].value_counts()

0    6354407
1       8213
Name: isFraud, dtype: int64

In [13]:
# this dataset is highly unbalanced
#0--> normal transactions
#1-->fraudlent transactions

In [14]:
#seperating data for analysis
legit=credit_card_data[credit_card_data.isFraud == 0]
fraud=credit_card_data[credit_card_data.isFraud == 1]

In [15]:
print(legit.shape)
print(fraud.shape)

(6354407, 11)
(8213, 11)

In [16]:
#satistical measures of this data
legit.amount.describe()

count    6.354407e+06
mean     1.781970e+05
std      5.962370e+05
min      1.000000e-02
25%      1.336840e+04
50%      7.468472e+04
75%      2.083648e+05
max      9.244552e+07
Name: amount, dtype: float64

In [17]:
fraud.isFraud.describe()

count    8213.0
mean        1.0
std         0.0
min         1.0
25%         1.0
50%         1.0
75%         1.0
max         1.0
Name: isFraud, dtype: float64

In [18]:
#compare the values for both transaction
credit_card_data.groupby('isFraud').mean()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFlaggedFraud
isFraud,,,,,,,
0,243.235663,1.781970e+05,8.328287e+05,855970.228109,1.101421e+06,1.224926e+06,0.000000
1,368.413856,1.467967e+06,1.649668e+06,192392.631836,5.442496e+05,1.279708e+06,0.001948

In [19]:
credit_card_data.groupby('type').mean()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
type,,,,,,,,
CASH_IN,244.490093,168920.242004,3.590464e+06,3.759379e+06,1.587919e+06,1.467105e+06,0.000000,0.00000
CASH_OUT,240.900735,176273.964346,4.602380e+04,1.747419e+04,1.497758e+06,1.691326e+06,0.001840,0.00000
DEBIT,248.440481,5483.665314,6.864734e+04,6.516165e+04,1.493136e+06,1.513003e+06,0.000000,0.00000
PAYMENT,244.378179,13057.604660,6.821683e+04,6.183789e+04,0.000000e+00,0.000000e+00,0.000000,0.00000
TRANSFER,246.657304,910647.009645,5.444185e+04,1.028816e+04,2.567606e+06,3.554567e+06,0.007688,0.00003

In [20]:
#undersampling
#no of fraudlent transactions-->8213

In [21]:
legit_sample = legit.sample(n=8213)

In [22]:
#concatinating two dataframes
new_dataset=pd.concat([legit_sample,fraud],axis=0)

In [23]:
new_dataset.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
5535968,381,TRANSFER,198905.97,C1019155381,11285.00,0.00,C281357771,1322663.10,1521569.07,0,0
5055707,354,PAYMENT,18074.19,C158324365,50436.89,32362.70,M651329170,0.00,0.00,0,0
1202057,133,CASH_IN,293847.58,C1671599391,2760942.21,3054789.78,C1093224258,2883690.81,2589843.23,0,0
1943313,177,CASH_IN,223484.24,C795208586,9257742.81,9481227.05,C1569006508,1728688.12,1505203.88,0,0
5541312,382,TRANSFER,2122048.23,C1401663953,0.00,0.00,C984281928,3273206.04,5395254.27,0,0

In [24]:
new_dataset.tail()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.0,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.0,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.0,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.0,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.0,C873221189,6510099.11,7360101.63,1,0

In [25]:
new_dataset['isFraud'].value_counts()

1    8213
0    8213
Name: isFraud, dtype: int64

In [26]:
new_dataset.groupby('isFraud').mean()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFlaggedFraud
isFraud,,,,,,,
0,242.920614,1.730124e+05,8.578627e+05,881139.801839,1.076676e+06,1.191135e+06,0.000000
1,368.413856,1.467967e+06,1.649668e+06,192392.631836,5.442496e+05,1.279708e+06,0.001948

In [49]:
#dplitting the dta into features and targets
#list_drop = [','nameOrig']

#x=new_dataset.drop(columns='type',axis=1)
#y=new_dataset['type']
x=new_dataset.drop(['nameOrig','type','nameDest'],axis=1)
y=new_dataset['type']

In [50]:
print(x)

         step      amount  oldbalanceOrg  newbalanceOrig  oldbalanceDest  \
5535968   381   198905.97       11285.00            0.00      1322663.10
5055707   354    18074.19       50436.89        32362.70            0.00
1202057   133   293847.58     2760942.21      3054789.78      2883690.81
1943313   177   223484.24     9257742.81      9481227.05      1728688.12
5541312   382  2122048.23           0.00            0.00      3273206.04
...       ...         ...            ...             ...             ...
6362615   743   339682.13      339682.13            0.00            0.00
6362616   743  6311409.28     6311409.28            0.00            0.00
6362617   743  6311409.28     6311409.28            0.00        68488.84
6362618   743   850002.52      850002.52            0.00            0.00
6362619   743   850002.52      850002.52            0.00      6510099.11

         newbalanceDest  isFraud  isFlaggedFraud
5535968      1521569.07        0               0
5055707            0.00        0               0
1202057      2589843.23        0               0
1943313      1505203.88        0               0
5541312      5395254.27        0               0
...                 ...      ...             ...
6362615       339682.13        1               0
6362616            0.00        1               0
6362617      6379898.11        1               0
6362618            0.00        1               0
6362619      7360101.63        1               0

[16426 rows x 8 columns]

In [51]:

print(x)

         step      amount  oldbalanceOrg  newbalanceOrig  oldbalanceDest  \
5535968   381   198905.97       11285.00            0.00      1322663.10
5055707   354    18074.19       50436.89        32362.70            0.00
1202057   133   293847.58     2760942.21      3054789.78      2883690.81
1943313   177   223484.24     9257742.81      9481227.05      1728688.12
5541312   382  2122048.23           0.00            0.00      3273206.04
...       ...         ...            ...             ...             ...
6362615   743   339682.13      339682.13            0.00            0.00
6362616   743  6311409.28     6311409.28            0.00            0.00
6362617   743  6311409.28     6311409.28            0.00        68488.84
6362618   743   850002.52      850002.52            0.00            0.00
6362619   743   850002.52      850002.52            0.00      6510099.11

         newbalanceDest  isFraud  isFlaggedFraud
5535968      1521569.07        0               0
5055707            0.00        0               0
1202057      2589843.23        0               0
1943313      1505203.88        0               0
5541312      5395254.27        0               0
...                 ...      ...             ...
6362615       339682.13        1               0
6362616            0.00        1               0
6362617      6379898.11        1               0
6362618            0.00        1               0
6362619      7360101.63        1               0

[16426 rows x 8 columns]

In [52]:
print(y)

5535968    TRANSFER
5055707     PAYMENT
1202057     CASH_IN
1943313     CASH_IN
5541312    TRANSFER
             ...
6362615    CASH_OUT
6362616    TRANSFER
6362617    CASH_OUT
6362618    TRANSFER
6362619    CASH_OUT
Name: type, Length: 16426, dtype: object

In [53]:

#split data into training and testing data

In [54]:
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)

In [55]:
print(x.shape,x_train.shape,x_test.shape)

(16426, 8) (13140, 8) (3286, 8)

In [56]:
#model training

In [57]:
#logistic regression

model=LogisticRegression()

In [58]:
#training logistic regression model with training data
model.fit(x_train,y_train)

D:\anaconda navigator\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [ ]:
#accuracy on training data

In [60]:
x_train_prediction=model.predict(x_train)
training_data_accuracy=accuracy_score(x_train_prediction,y_train)

In [65]:
print("accuracy score on training data:")
print( training_data_accuracy)

accuracy score on training data:
0.7620243531202435

In [66]:
#accuracy on test data

In [69]:
x_test_prediction = model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction,y_test)

In [71]:
print("accuracy on test data:")
print(test_data_accuracy)

accuracy on test data:
0.7644552647595861